<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>

<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the p2fx On Rails</h1>
    	<%= link_to image_tag("iqube_header.jpg", alt: "iqube"), '#' %>
    	<br>
    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
  
<% end %>