<div class="row">
	<h1>Pleased to meet you</h1>
	<form method="get" action="search">
		<input type="text" placeholder="query" name="query"/>
		<div class="btn-group" class="center">
	    	<button class="btn btn-large">Search</button>
	    	<button class="btn btn-large">Find Profiles Around Me</button>
	    </div>		
	</form>
</div>