<div class="row-fluid">
	<div class="span2" id="accordion">
		<h3><a>Welcome</a></h3>
		<div>Accordion Content</div>
	</div>
	<div id="map_canvas" class="span10" style=" min-height: 600px;"></div>
</div>

<script type="text/javascript">
	var map;
	$(document).ready(function(){
		var myOptions = {
			center : new google.maps.LatLng(6.575257, 3.271179),
			zoom : 8,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		$('#accordion').accordion();
	});
	
	function setLoc(){
		
	}
	function getLoc(){
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

				var infowindow = new google.maps.InfoWindow({
					map : map,
					position : pos,
					content : 'Location found using HTML5.'
				});

				map.setCenter(pos);
			}, function() {
				handleNoGeolocation(true);
			});
		} else {
			// Browser doesn't support Geolocation
			handleNoGeolocation(false);
		}
	}
	function handleNoGeolocation(errorFlag) {
		if (errorFlag) {
			var content = 'Error: The Geolocation service failed.';
		} else {
			var content = 'Error: Your browser doesn\'t support geolocation.';
		}

		var options = {
			map : map,
			position : new google.maps.LatLng(6.575257, 3.271179),
			content : content
		};

		var infowindow = new google.maps.InfoWindow(options);
		map.setCenter(options.position);
	}


	google.maps.event.addDomListener(window, 'load', $(document).ready()); 
</script>
