<%= provide(:title, 'new sip') %>
<h1>Sip Profile Registration</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@sip) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :contact %>
      <%= f.text_field :contact %>
      
      <%= f.label :location %>
      <%= f.text_field :location %>
      <%= f.submit "Create Sip Profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>