<% provide(:title, @sip.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @sip.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
  </div>
  </div>
</div>