<footer class="footer">
  <small>
    <a href="http://techytom.com/">p2fxweb</a>
    by Tomiwa Ijaware
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://iqubebase.com/">IqubeBase</a></li>
    </ul>
  </nav>
</footer>
