<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">      
      <nav>
      	<%= link_to "p2fx", root_path, id: "logo" %>
        <ul class="nav pull-right">
          <li><form class="navbar-search pull-left"><input type="text" class="search-query" placeholder="Search"></form></li>          
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in_user %>
            <li><%= link_to "Users", users_path %></li>
            <li class="divider-vertical"></li>
            <li id="fat-menu" class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Location <b class="caret"></b></a>
            	<ul class="dropdown-menu">
            		<li><a href= "#" class="button" id="getLoc">Current Location</a></li>
            		<li><a href= "#" class="button" id="setLoc">Set Location</a></li>
            	</ul>            	
            </li>
            <li class="divider-vertical"></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Upload Sip", new_sip_path(current_user) %></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>